.header{
  display: flex;
  align-items: center;
  height: 60px;
  background-color: black;
  box-shadow: 0 0 0.5rem black;
  opacity: 80%;
}
.headerLogo{
  flex: 1;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2rem;
  color: red;
  margin-left:20px;
}
.headerLinks{
  flex:9;
  margin-left: 10px;
  color: white;
}
.headerOptionsLogged{
  flex:2;
  color:white;
}
.headerSignin{
  margin-right: 20px;
}
.headerModal{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top:15px;
  margin-left:25px;
  background-color: black;
  opacity: 90%;
  width: 150px;
}